.root {
  margin-bottom: var(--base-size-16);
}

.title {
  margin: 0;
  font-size: var(--text-title-size-medium);
  font-weight: var(--base-text-weight-semibold);
}

.text {
  margin: var(--base-size-4) 0 0;
  color: var(--fgColor-muted);
}
