.root {
  display: flex;
  align-items: center;
  gap: var(--base-size-4);
  margin-bottom: var(--base-size-16);
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 110px;
  text-align: center;
  line-height: 1.25;
}

.current {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}
